@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #262626;
  --white: #ffffff;
  --gray: #aaa;
  --blue: #38a5d3;
  --green: rgb(29, 171, 29);
  --red: #d40404;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

.text-center {
  text-align: center;
}

.nav-container {
  background: var(--dark);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  transition: all 0.5s ease-in-out;
}

.logo {
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
}
.logo i {
  font-size: 25px;
  padding-left: 5px;
}

.menu {
  list-style: none;
  display: flex;
}

.menu-item {
  position: relative;
}

.nav-link {
  margin: 0 10px;
  text-decoration: none;
  color: var(--white);
}

.nav-link > i {
  transition: 0.5s;
}

.active-link {
  font-weight: bold;
}

.btn-menu {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

.cart {
  position: relative;
}

.cart-icon {
  font-size: 1.8rem;
}

.quantity-cart {
  position: absolute;
  top: -10px;
  left: 30px;

  font-size: 15px;
  padding: 10px;
  line-height: 5px;
  font-weight: 900;
  border-radius: 50%;
  background: var(--white);
  color: #000;
}

.container {
  width: 90%;
  margin: 100px auto 100px auto;
  padding-top: 100px;
}

.container-products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px 15px;
  margin-top: 40px;
}

.text-search {
  width: 100%;
  text-align: center;
}

.titulo-products {
  width: 100%;
  text-align: center;
}
.form-search {
  display: flex;
}

.form-search input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  border: 1px solid #aaa;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
}

.form-search button {
  background: var(--blue);
  color: var(--white);
  width: 80px;
  padding: 10px 0;
  font-size: 15px;
  margin-bottom: 10px;
  border: 1px solid var(--blue);

  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  outline: none;
  cursor: pointer;
}

.card-product {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  position: relative;
  transition: transform 0.5s;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  animation: cardAnimation 0.4s linear;
  border-radius: 20px;
}

.container-not-stock {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-align: center;
  z-index: -1;
  opacity: 0;
  transition: all 0.5s;
}

.text-not-stock {
  color: #a80b0b;
}

.container-not-stock.show-stock {
  z-index: 1;
  opacity: 1;
}

.card-product:hover {
  transform: translateY(-20px);
}
.card-product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ccc;
}

.content-card-product {
  padding: 0px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

.section-card {
  margin: 10px 0;
}
.section-card:first-child p {
  text-transform: uppercase;
}

.descuento {
  background: #000;
  color: #fff;
  padding: 3px;
  border-radius: 10px;
  margin-right: 20px;
}

.original-price {
  color: var(--dark);
}
.btn-container {
  margin: auto 0 0 0;
}

.btn-buy-product {
  display: block;
  width: 100%;
  padding: 20px;
  background: var(--blue);
  color: var(--white);
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.4s;
}

.btn-buy-product:hover {
  background: #267191;
}
.container-product {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
}

.container-imgs-product {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.product-img {
  margin-bottom: 10px;
  width: 100%;
  height: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: imgProductAnimation 0.4s linear;
}

.imgs-product {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.imgs-product img {
  width: 100px;
  height: 100px;
  opacity: 0.5;
  transition: all 0.2s;
  animation: imgsProductAnimation 0.4s linear;
  object-fit: cover;
}

.imgs-product img:hover {
  width: 100px;
  opacity: 1;
}

.container-text-product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-text-product {
  margin: 10px 0;
  text-align: center;
}

.section-text-product h4 {
  font-weight: 300;
  font-size: 30px;
}
.section-text-product p {
  font-weight: 700;
}

.price-product {
  color: var(--green);
}

.add-to-cart {
  margin-top: 20px;
  display: block;
  width: 100%;
  padding: 15px 30px;
  font-size: 28px;
  font-weight: 800;
  background: var(--blue);
  color: var(--white);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  transition: background 0.5s ease-in-out;
}
.add-to-cart:hover {
  background: #267191;
}
.container-cart {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-cart h1 {
  margin-bottom: 20px;
}

.container-clear-cart {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.container-table {
  width: 100%;
  overflow: auto;
}

.btn-go-to-buy {
  margin-top: 10px;
  padding: 10px;
  font-size: 15px;
  text-decoration: none;
  font-weight: 800;
  background: var(--blue);
  color: var(--white);
  border: none;
  outline: none;
  border-radius: 20px;
  transition: background 0.5s ease-in-out;
}

.btn-go-to-buy:hover {
  background: #267191;
}

.go-to-products {
  padding: 10px;
  margin: 0 5px;
  transition: 0.5s background ease-in-out;
  color: var(--white);
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  background: var(--red);
  color: var(--white);
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.clear-cart {
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  background: var(--red);
  color: var(--white);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  transition: background 0.5s ease-in-out;
  margin-bottom: 20px;
  text-align: end;
}

.clear-cart:hover {
  background: #a80b0b;
}

.cart-table {
  border-collapse: collapse;
  width: 100%;
}

.cart-table th,
.cart-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.cart-table thead {
  background: #aaa;
}
.cart-table thead th {
  padding: 10px 20px;
}

.cart-table th {
  border: 1px solid var(--gray);
}

.cart-table tfoot tr {
  text-align: end;
}

.container-img-cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-cart-row {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.actions-cart-btn {
  padding: 10px;
  margin: 0 5px;
  transition: 0.5s background ease-in-out;
  color: var(--white);
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
.actions-cart-btn.delete {
  background: var(--red);
}

.actions-cart-btn.delete:hover {
  background: #a80b0b;
}
.actions-cart-btn.add {
  background: var(--green);
}

.actions-cart-btn.add:hover {
  background: #0c640c;
}

.btn-checkout {
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 20px;
  text-align: center;
  background: var(--blue);
  transition: 0.5s background ease-in-out;
  color: var(--white);
  border: none;
  outline: none;
  border-radius: 5px;
}

.btn-checkout:hover {
  background: #267191;
}

.container-checkout {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.info-checkout,
.payment {
  min-height: auto;
  width: 45%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px 0;
}

.title-info {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  border-bottom: 1px solid #aaa;
}
.content-info {
  width: 100%;
  padding: 10px;
  overflow-x: auto;
}

.table-checkout {
  border-collapse: collapse;
  width: 100%;
}

.table-checkout th,
.table-checkout td {
  border: 1px solid #ddd;
  padding: 10px;
}

.table-checkout thead {
  background: #aaa;
}
.table-checkout thead th {
  padding: 10px 20px;
}

.table-checkout th {
  border: 1px solid var(--gray);
}

.table-checkout tbody tr:nth-child(odd) {
  background: #fff;
}
.table-checkout tbody tr:nth-child(even) {
  background: #bbb;
}

.table-checkout tfoot tr {
  text-align: end;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  border: 1px solid #aaa;
  border-radius: 10px;
  outline: none;
}
.error-input {
  border: 1px solid #f00;
}

.error-message {
  color: #f00;
}

.btn-send {
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 20px;
  text-align: center;
  background: var(--blue);
  transition: 0.5s background ease-in-out;
  color: var(--white);
  border: none;
  outline: none;
  border-radius: 5px;
  width: 100%;
  font-size: 20px;
  cursor: pointer;
}

.btn-send:hover {
  background: #267191;
}

.star {
  color: #e5cf0e;
}

@keyframes cardAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes imgProductAnimation {
  from {
    transform: translateX(-120px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes imgsProductAnimation {
  from {
    transform: translateY(120px);
  }

  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 1280px) {
  .container-products {
    grid-template-columns: repeat(3, 1fr);
  }

  .container-product {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .container-text-product {
    margin-top: 40px;
  }

  .add-to-cart {
    padding: 10px;
    width: 50%;
    font-size: 18px;
  }
  .section-text-product h4 {
    font-size: 20px;
  }

  .actions-cart-btn {
    padding: 8px;
    margin: 0 2px;
  }
}
@media screen and (max-width: 1000px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: var(--dark);
    width: 40vw;
    flex-direction: column;
    align-items: center;

    transform: translateX(-100vw);
    transition: transform 0.5s;
  }

  .menu-active {
    transform: translateX(0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .menu-item {
    display: block;
    margin-top: 50px;
  }
  .btn-menu {
    display: block;
  }

  .info-checkout,
  .payment {
    width: 100%;
  }
  .title-info {
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  .container-products {
    grid-template-columns: repeat(2, 1fr);
  }

  .text-search {
    font-size: 28px;
  }
}

@media screen and (max-width: 520px) {
  .logo,
  .btn-menu {
    font-size: 1.5rem;
  }
  .menu {
    width: 50vw;
  }
  .container-products {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-product {
    min-width: 100%;
    grid-column: 1/6;
  }
  .product-description {
    display: none;
  }

  .imgs-product {
    row-gap: 40px;
  }
}

@media screen and (max-width: 350px) {
  .logo {
    font-size: 10px;
  }

  .product-img {
    height: 400px;
    object-fit: cover;
  }

  .imgs-product img {
    width: 40px;
    height: 40px;
  }
}
